@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");
@font-face {
    font-family: "DrukWideBold";
    src: url("../assets/fonts/DrukWideBold.ttf");
    font-weight: normal;
    font-style: normal;
}
.card-container {
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    border: 1px solid;
    box-sizing: border-box;
}

.card-text {
    margin-top: 20%;
    border: 1px solid yellow;
}

.card-title {
    border: 1px solid blue;
}

.card-title img {
    width: 100%;
    object-fit: contain;
}

.card-subheading {
    font-size: clamp(16px, calc(100vw / 12.5), 24px);
    font-family: "DrukWideBold";
    color: #a10d0d;
    text-transform: uppercase;
}

.card-description {
    font-size: clamp(12px, calc(100vw / 12.5), 16px);
    font-family: "DrukWideBold";
    color: #a10d0d;
    text-transform: uppercase;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.card-content .card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 33%;
    width: 180px;
    height: 250px;

    color: rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 0 5x #0fff; */
    border-radius: 5px;
    border: 10px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
    transform-origin: 50% 100%;
    /* filter: hue-rotate(calc(50deg * var(--position))); */
    z-index: 2;
}

@keyframes moveCardsUp {
    from {
        transform: rotate(calc(var(--position) * 2.5deg)) translate(0, 0);
    }
    to {
        transform: rotate(calc(var(--position) * 5deg))
            translate(calc(var(--position) * 120px), -100px); /* Move up higher */
    }
}

.card-content:hover .card {
    animation: moveCardsUp 0.5s forwards;
    transform: rotate(calc(var(--position) * 2.5deg))
        translate(calc(var(--position) * 120px), -50px);
}

.card-content:active .card {
    background: #333;
    filter: none;
}

.card-content:active .card img {
    filter: grayscale(100%);
}

.card-content .card:active img {
    filter: none; /* Remove grey filter from the active card */
}

.card-content .card:active {
    translate: calc(var(--position) * 25px);
    z-index: 100;
    /* background: #0ff; */
}

.card-content .card img {
    width: 180%;
    height: 180%;
    object-fit: cover;
}
