.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    border: 1px solid blue;
}

.slider-content {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.slider-content img {
    object-fit: cover;
    max-width: 100%; /* Ensures images don't overflow */
    max-height: 100%; /* Ensures images stay within container height */
    display: block; /* Avoid extra space from inline elements */
    margin: 0 auto;
}

.slider-arrows {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.slider-arrows:hover {
    color: none;
    background-color: rgb(0, 0, 0, 0.2);
}

.slider-arrows > * {
    stroke: white;
    fill: black;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}
