.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid yellow;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    border: 1px solid blue;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.banner .slider .card-item {
    position: absolute;
    inset: 0;
    border: 1px solid red;
    transform: translateZ(550px);
}

.banner .slider .card-item img {
    height: 100%;
    object-fit: cover;
}
